@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700,800,900&display=swap&subset=cyrillic-ext");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class^="_icon-"]::after,
[class*=" _icon-"]::before,
[class*=" _icon-"]::after {
  font-family: "icons";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]::before,
[class^="_icon-"]::after,
[class*=" _icon-"]::before,
[class*=" _icon-"]::after {
  display: block;
}

._icon-arrow-menu {
  display: none;
}

._icon-arrow:before {
  content: "\e902";
  font-size: 42px;
  color: #91c842;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

._icon-map-marker:before {
  content: "\e901";
  display: inline-block;
  font-size: 14px;
  color: #91c842;
  margin-right: 5px;
  vertical-align: middle;
}

._icon-phone:before {
  content: "\e900";
  display: inline-block;
  margin-right: 10px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  vertical-align: middle;
}

._icon-youtube:before {
  content: "\e906";
}

._icon-instagram:before {
  content: "\e907";
}

._icon-facebook:before {
  content: "\e908";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-size: 17px;
  color: #171717;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  max-width: 600px;
  margin: 0 auto;
}

.subscription__form .form__input {
  display: block;
  width: 100%;
  padding: 16px 20px 17px;
  background: #fff;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 50px;
  font-family: inherit;
  font-size: 18px;
}

.subscription__form .form__btn {
  border: 3px solid #91c842;
  background-color: #91c842;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.text {
  line-height: 158.82353%;
}

.logo {
  max-width: 140px;
  height: auto;
}

.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #36363c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.socials__item + .socials__item {
  margin-left: 10px;
}

.socials__link {
  font-size: 20px;
  color: #fff;
  padding: 10px;
}

.tel__link {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

#toTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 10000;
  background: #fff;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: opacity 0.8s ease, background 0.3s linear, -webkit-transform 0.8s ease 0s;
  transition: opacity 0.8s ease, background 0.3s linear, -webkit-transform 0.8s ease 0s;
  -o-transition: transform 0.8s ease 0s, opacity 0.8s ease, background 0.3s linear;
  transition: transform 0.8s ease 0s, opacity 0.8s ease, background 0.3s linear;
  transition: transform 0.8s ease 0s, opacity 0.8s ease, background 0.3s linear, -webkit-transform 0.8s ease 0s;
}

.arrow-to-show {
  -webkit-transform: translate(200%, 0%);
      -ms-transform: translate(200%, 0%);
          transform: translate(200%, 0%);
  opacity: 0;
}

.btn {
  padding: 10px 20px;
  height: 50px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: 161.11111%;
  color: #fff;
}

.btn._fw {
  width: 100%;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.rub::after {
  content: "";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  content: counter(item);
  counter-increment: item;
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid black;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

/*--------------------------------------------------------------
## Preloader
--------------------------------------------------------------*/

.page-preloader {
  position: relative;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
}

.page-preloader-cover {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.page-preloader__cube {
  position: relative;
  float: left;
  width: 50%;
  height: 50%;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.page-preloader__cube::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-animation: tmFoldCubeAngle 2.4s infinite linear both;
          animation: tmFoldCubeAngle 2.4s infinite linear both;
  background-color: #91c842;
}

.page-preloader--cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
      -ms-transform: scale(1.1) rotate(90deg);
          transform: scale(1.1) rotateZ(90deg);
}

.page-preloader--cube2::before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.page-preloader--cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
      -ms-transform: scale(1.1) rotate(180deg);
          transform: scale(1.1) rotateZ(180deg);
}

.page-preloader--cube3::before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.page-preloader--cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
      -ms-transform: scale(1.1) rotate(270deg);
          transform: scale(1.1) rotateZ(270deg);
}

.page-preloader--cube4::before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes tmFoldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes tmFoldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.top-panel {
  font-size: 14px;
  background-color: #000;
  color: #fff;
}

.top-panel *:last-child {
  margin-bottom: 0;
}

.top-panel__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.top-panel__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-panel .address__link {
  color: inherit;
  -webkit-transition: color 0.2s linear, -webkit-text-decoration 0.3s ease;
  transition: color 0.2s linear, -webkit-text-decoration 0.3s ease;
  -o-transition: text-decoration 0.3s ease, color 0.2s linear;
  transition: text-decoration 0.3s ease, color 0.2s linear;
  transition: text-decoration 0.3s ease, color 0.2s linear, -webkit-text-decoration 0.3s ease;
}

.top-panel .socials {
  margin-right: 20px;
}

.top-panel .socials__link {
  display: block;
  color: #888888;
  font-size: 16px;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.top-panel .socials__item {
  width: 16px;
  height: 16px;
  background-color: transparent;
}

.top-panel .socials__item + .top-panel .socials__item {
  margin-left: 30px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon__menu {
  display: none;
}

.icon__menu span,
.icon__menu::before,
.icon__menu::after {
  content: "";
  background: #000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.icon__menu span {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.icon__menu::before {
  top: 0;
}

.icon__menu::after {
  bottom: 0;
}

.icon__menu._active span {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
}

.icon__menu._active::before {
  background: #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}

.icon__menu._active::after {
  background: #000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

.main-navigation {
  height: 70px;
}

.fixed {
  position: fixed;
  top: 0px;
  left: 0;
  height: 70px;
  background-color: #fff;
  width: 100%;
  z-index: 4;
}

.nav-fixed {
  height: inherit;
}

.nav__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 5;
}

.nav__logo {
  display: none;
}

.nav__logo,
.nav__tel {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-transition: opacity 0.6s linear, visibility 0.6s linear, -webkit-transform 0.6s linear 0s;
  transition: opacity 0.6s linear, visibility 0.6s linear, -webkit-transform 0.6s linear 0s;
  -o-transition: transform 0.6s linear 0s, opacity 0.6s linear, visibility 0.6s linear;
  transition: transform 0.6s linear 0s, opacity 0.6s linear, visibility 0.6s linear;
  transition: transform 0.6s linear 0s, opacity 0.6s linear, visibility 0.6s linear, -webkit-transform 0.6s linear 0s;
}

.logo-hidden {
  -webkit-transform: translate(0%, -60%);
      -ms-transform: translate(0%, -60%);
          transform: translate(0%, -60%);
  opacity: 0;
  visibility: hidden;
}

.tel-hidden {
  -webkit-transform: translate(0%, -120%);
      -ms-transform: translate(0%, -120%);
          transform: translate(0%, -120%);
  opacity: 0;
  visibility: hidden;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
}

.nav-item > a {
  color: inherit;
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

body.mouse .nav-item > .nav-link:hover {
  color: #fff;
  background-color: #91c842;
}

body.mouse .dots-menu > .nav-item:hover > .nav-link {
  background-color: #91c842;
  color: #fff;
}

body.mouse .dots-menu .nav-item:hover > ul {
  top: 190%;
  opacity: 1;
  visibility: visible;
}

body.touch .sub-menu.open {
  max-height: 100vh;
}

body.touch .sub-menu {
  border-top: 10px solid transparent;
  width: 230px;
  position: absolute;
  left: 0;
  top: 175%;
  z-index: 500;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.4s ease-out;
  -o-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
}

body.mouse .sub-menu {
  border-top: 10px solid transparent;
  width: 250px;
  position: absolute;
  left: 0;
  z-index: 500;
  display: block;
  visibility: hidden;
  opacity: 0;
  top: 300%;
  -webkit-transition-property: top, opacity, visibility;
  -o-transition-property: top, opacity, visibility;
  transition-property: top, opacity, visibility;
  -webkit-transition: 200ms linear;
  -o-transition: 200ms linear;
  transition: 200ms linear;
}

body.mouse .sub-menu > li > a {
  color: inherit;
  background-color: #eee;
  display: block;
  padding: 13px 10px 13px 20px;
  border-bottom: 1px solid white;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body.mouse .sub-menu > li > a:hover {
  color: #91c842;
  padding: 13px 10px 13px 30px;
}

body.touch .sub-menu > li > a {
  color: inherit;
  background-color: #eee;
  display: block;
  padding: 13px 10px 13px 20px;
  border-bottom: 1px solid white;
}

.sub-menu-toggle {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0%;
  top: 0%;
  z-index: 99;
  display: none;
}

.hidden {
  display: none;
}

.top-slider:hover .swiper-button-prev {
  left: 20px;
  opacity: 1;
}

.top-slider:hover .swiper-button-next {
  right: 20px;
  opacity: 1;
}

.top-slider .top-banner *:last-child {
  margin-bottom: 0;
}

.top-slider .top-banner__bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-slider .top-banner__content {
  padding: 270px 0;
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out 0s;
  transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out 0s;
  -o-transition: transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out 0s;
  -webkit-transform: translate(0%, 15%);
      -ms-transform: translate(0%, 15%);
          transform: translate(0%, 15%);
  opacity: 0;
}

.top-slider .top-banner__content._active {
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 1;
}

.top-slider .top-banner__title {
  font-size: 72px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.top-slider .top-banner__subtitle {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.top-slider .top-banner__btn {
  border: 3px solid #fff;
  -webkit-transition: background-color 0.3s linear, border 0.3s linear;
  -o-transition: background-color 0.3s linear, border 0.3s linear;
  transition: background-color 0.3s linear, border 0.3s linear;
}

.top-slider .swiper-button-next:after,
.top-slider .swiper-button-prev:after {
  content: "\e903";
  font-family: "icons";
  color: #fff;
  font-size: 24px;
}

.top-slider .swiper-button-next:after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.top-slider .swiper-button-prev:after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.top-slider .swiper-button-prev,
.top-slider .swiper-button-next {
  position: absolute;
  top: 50%;
  height: 58px;
  width: 58px;
  border-radius: 50%;
  opacity: 0;
  background-color: #91c842;
  -webkit-transition: background-color 0.3s ease, opacity 0.3s ease-in-out 0s, left 0.4s ease-in-out, right 0.4s ease-in-out;
  -o-transition: background-color 0.3s ease, opacity 0.3s ease-in-out 0s, left 0.4s ease-in-out, right 0.4s ease-in-out;
  transition: background-color 0.3s ease, opacity 0.3s ease-in-out 0s, left 0.4s ease-in-out, right 0.4s ease-in-out;
}

.top-slider .swiper-button-prev {
  left: -10%;
}

.top-slider .swiper-button-next {
  right: -10%;
}

.top-slider .swiper-button-next.swiper-button-disabled,
.top-slider .swiper-button-prev.swiper-button-disabled {
  opacity: 0.3;
}

.top-slider .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  background: transparent;
  opacity: 1;
}

.top-slider .swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 35px;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 60px 0px 80px 50px;
}

.about__title {
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about__text {
  margin-bottom: 40px;
}

.about__btn {
  background-color: #91c842;
  border: 3px solid #91c842;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.advantages {
  background-color: #242424;
}

.advantages *:last-child {
  margin-bottom: 0;
}

.advantages__inner {
  padding-top: 50px;
  padding-bottom: 50px;
}

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 -30px;
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.advantages__icon {
  margin-top: 20px;
  -webkit-transition: opacity 0.8s ease-in-out 0s, -webkit-transform 0.8s ease-in-out 0s;
  transition: opacity 0.8s ease-in-out 0s, -webkit-transform 0.8s ease-in-out 0s;
  -o-transition: transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s;
  transition: transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s;
  transition: transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s, -webkit-transform 0.8s ease-in-out 0s;
  -webkit-transform: translate(-100%, 0%);
      -ms-transform: translate(-100%, 0%);
          transform: translate(-100%, 0%);
  opacity: 0;
}

.advantages__icon img {
  width: 68px;
  height: 68px;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages__icon._active {
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 1;
}

.advantages__content {
  margin-left: 40px;
}

.advantages__title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.advantages__text {
  color: #888888;
}

.subscription {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.subscription__inner {
  padding: 100px 0;
  text-align: center;
}

.subscription__title {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer {
  background-color: #1a1a1a;
  color: #888888;
  font-size: 18px;
  line-height: 155.55556%;
}

.footer__inner {
  padding-top: 30px;
  padding-bottom: 50px;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
}

.footer__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  padding: 0 20px;
}

.footer-die {
  border-top: 1px solid #fff;
  padding: 30px 0px;
}

.footer-die span {
  font-size: 17px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.footer-title {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 15px;
}

.schedule__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.schedule__date,
.schedule__time {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.schedule__time {
  text-align: right;
}

.information__link {
  color: inherit;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer-menu__link {
  color: inherit;
  font-size: 20px;
  line-height: 175%;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.additional-information__link {
  color: inherit;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 767.98px) {
  .tel__link {
    font-size: 24px;
  }
}

@media (min-width: 991.98px) {
  .subscription__form .form__btn:hover {
    background-color: transparent;
    border: 3px solid #91c842;
  }

  .socials__item:hover {
    background-color: #91c842;
  }

  .tel__link:hover {
    text-decoration: underline;
  }

  #toTop:hover {
    background: #000;
  }

  .top-panel .address__link:hover {
    color: #91c842;
    text-decoration: underline;
  }

  .top-panel .socials__link:hover {
    color: #fff;
  }

  .top-panel .socials__item:hover {
    background-color: transparent;
  }

  .top-slider .top-banner__content:hover .swiper-button-prev {
    left: 0;
  }

  .top-slider .top-banner__btn:hover {
    background-color: #91c842;
    border: 3px solid #91c842;
  }

  .top-slider .swiper-button-prev:hover,
  .top-slider .swiper-button-next:hover {
    background-color: #000;
  }

  .about__btn:hover {
    background-color: #fff;
    color: #91c842;
  }

  .information__link:hover {
    color: #fff;
  }

  .footer-menu__link:hover {
    color: #91c842;
  }

  .additional-information__link:hover {
    color: #fff;
  }
}

@media (max-width: 1215px) {
  ._container {
    max-width: 970px;
  }

  .main-navigation {
    height: 64px;
  }

  .fixed {
    height: 64px;
  }

  .nav-item > a {
    font-size: 16px;
  }

  .sub-menu-toggle {
    display: block;
  }

  #nav-item-2 {
    display: none;
  }

  #nav-item-1 {
    display: block;
  }

  .top-slider .top-banner__content {
    padding: 200px 0;
  }

  .top-slider .top-banner__title {
    font-size: 57px;
    margin-bottom: 20px;
  }

  .footer__items {
    margin: 0 -10px;
  }

  .footer__item {
    padding: 0 10px;
  }

  .footer__item:nth-child(3) {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 15%;
            flex: 1 0 15%;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  #nav-item-1,
  #nav-item-2,
  #nav-item-4,
  #nav-item-5 {
    display: none;
  }

  #nav-item-3 {
    display: block;
  }

  .top-slider .top-banner__title {
    font-size: 50px;
  }

  .top-slider .swiper-button-prev,
  .top-slider .swiper-button-next {
    display: none;
  }

  .about__content {
    padding: 40px 0px 50px 30px;
  }

  .about__title {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .advantages__items {
    margin: 0 -20px;
  }

  .advantages__column {
    padding: 20px;
    display: block;
  }

  .advantages__icon {
    margin-top: 0;
    text-align: center;
    margin-bottom: 40px;
  }

  .advantages__content {
    margin-left: 20px;
  }

  .footer__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -20px;
  }

  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 20px;
  }

  .footer__item:nth-child(1) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .footer__item:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer__item:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }

  .footer__item:nth-child(4) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 767.98px) {
  ._icon-phone:before {
    margin-right: 6px;
  }

  ._container {
    max-width: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  .logo {
    max-width: 100px;
  }

  .btn {
    font-size: 16px;
    padding: 8px 15px;
  }

  .top-slider .top-banner__content {
    padding: 160px 0;
  }

  .top-slider .top-banner__subtitle {
    font-size: 20px;
    margin-bottom: 25px;
  }

  .top-slider .top-banner__btn {
    border: 1px solid #fff;
  }

  .top-slider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .about__inner {
    display: block;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .about__image {
    display: block;
    max-width: 100%;
    height: 300px;
    margin-left: 0;
    margin-bottom: 30px;
  }

  .about__content {
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 680.98px) {
  ._icon-arrow-menu:before {
    content: "\e903";
    display: block;
    position: absolute;
    right: 40px;
    top: 50%;
    -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  ._icon-arrow-menu.arrow.active {
    -webkit-transform: scale(1, -1);
        -ms-transform: scale(1, -1);
            transform: scale(1, -1);
  }

  .subscription__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .top-panel__inner {
    display: block;
    text-align: center;
  }

  .top-panel__left {
    margin-bottom: 10px;
  }

  .top-panel__right {
    display: block;
  }

  .top-panel .socials {
    display: none;
  }

  .icon__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 35px;
    height: 25px;
    cursor: pointer;
    z-index: 5;
    position: relative;
  }

  .nav__logo {
    display: block;
  }

  body.touch .sub-menu {
    border-top: none;
    width: 100%;
    height: auto;
    top: 100%;
    left: 0;
    z-index: 100;
  }

  body.touch .sub-menu.open {
    padding-bottom: 30px;
    background-color: #f7f7f7;
  }

  body.touch .sub-menu-1 {
    z-index: 101;
  }

  body.touch .sub-menu > li > a {
    background-color: #f7f7f7;
    padding: 10px 10px 10px 40px;
  }

  .dots-menu {
    -webkit-transform: translate(0px, -100%);
        -ms-transform: translate(0px, -100%);
            transform: translate(0px, -100%);
    opacity: 0;
    visibility: hidden;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    overflow: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    display: block;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .dots-menu._active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0px, 0%);
        -ms-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
  }

  .dots-menu .nav-item > a {
    display: block;
    padding: 15px 30px;
    border-bottom: 1px solid #dbdbdb;
  }

  .dots-menu .dots-menu .nav-item:hover > ul {
    display: block;
    top: 80% !important;
  }

  .dots-menu #nav-item-2,
  .dots-menu #nav-item-4 {
    display: block;
  }

  .dots-menu #nav-item-3 {
    display: none;
  }

  .top-slider .top-banner__title {
    font-size: 34px;
  }

  .top-slider .top-banner__subtitle {
    font-size: 16px;
  }

  .about__image {
    height: 200px;
  }

  .advantages__items {
    margin: 0;
  }

  .advantages__item {
    margin-bottom: 40px;
  }

  .advantages__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
  }

  .advantages__icon {
    margin-bottom: 20px;
  }

  .advantages__icon img {
    width: 50px;
    height: 50px;
  }

  .advantages__content {
    margin-left: 0;
  }

  .subscription__title {
    font-size: 20px;
  }

  .footer__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }

  .footer-die {
    text-align: center;
    padding: 20px 0;
  }

  .footer-die span {
    font-size: 12px;
  }

  .schedule__date,
  .schedule__time {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1215px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 680.98px){

@supports (-webkit-appearance:none){

}

}
